#This is 404 Error Page to Show

ErrorDocument 400 /Publica/admin/400.php
ErrorDocument 404 /Publica/error/404.php
ErrorDocument 422 /frontpage/admin/422.php
ErrorDocument 500 /frontpage/admin/500.php